@import 'bootstrap/dist/css/bootstrap';


#logo{
    float: left;
    font-size: 1.7em;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: bold;
}

#logo:hover{
    color: #fff;
    text-decoration: none;
}


.jumbotron {
    background-image: asset-url('try-background.jpg');
    background-size: cover;
    height: 550px;
    margin-top:15px;
    
}

.center {
    text-align :center;
}


.jumbotron h1{
    margin-top: 200px;
    color: #fff;
    font-weight: bold;
    letter-spacing: -1px;
}


html,
body {
  height: 100%;
}

#page-content {
  flex: 1 0 auto;
  background-color: lightgray;
}

#sticky-footer {
  flex-shrink: none;
}

.background-index {
    background-color: lightgray;
}
